include src/sot/data/cmap3class.npz
include src/sot/data/cmap4class.npz
include src/sot/data/earth_boundary.npz

include src/sot/data/mockalbedo2.fits
include src/sot/data/mockalbedo4.fits
include src/sot/data/mockalbedo8.fits
include src/sot/data/mockalbedo16.fits
include src/sot/data/mockalbedo32.fits
include src/sot/data/mockalbedo64.fits
include src/sot/data/mockland16.fits
include src/sot/data/mockland32.fits
include src/sot/data/mockland64.fits

include src/sot/data/refdata/clear_sky.npz
include src/sot/data/refdata/clouds.txt
include src/sot/data/refdata/clouds_ice.txt
include src/sot/data/refdata/fine_snow.txt
include src/sot/data/refdata/granular_snow.txt
include src/sot/data/refdata/ice.txt
include src/sot/data/refdata/medium_snow.txt
include src/sot/data/refdata/ocean_McLinden.csv
include src/sot/data/refdata/ocean_McLinden2.csv
include src/sot/data/refdata/sea.txt
include src/sot/data/refdata/soil.txt
include src/sot/data/refdata/veg_deciduous.txt
include src/sot/data/refdata/water.txt
